@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

// MIXINS
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}


body {
    margin: 0; padding: 0;
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

// HEADER
header {

    nav.navbar {

        div.navbar-top {
            padding: 1em;
            background-color: rgb(255, 234, 234);

            // FLEX
            display: flex;
            justify-content: space-between;
            align-items: center;

            img[alt="banner"] {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

        }

        ul.list {
            padding: 0.5em;
            margin: 0;
            background-color: maroon;
            
            @media screen and (max-width: 768px) {
                text-align: center;
                font-size: 1.5em;
            }

            li.list-item {
                display: inline-block;

                a, a:link, a:visited {
                    text-decoration: none;
                    color: white;
                    padding: 0 1em;
                }
            }
        }
    }
}

// SECTION CALC-CONTAINER
section.calc-container {
    
    div.hero {
        height: 500px;
        margin-bottom: 40px;
        background: url("../../img/traffic-332857_1920.jpg");
        background-size: cover;
        background-position: center;

        h1 {
            margin: 0;
            color: white;
            padding: 1em;
        }
    }

    div.calc-box {
        margin: 0 auto;
        margin-top: -475px;
        height: 550px;
        width: 80%;
        max-width: 1000px;
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px solid grey;

        @media screen and (max-width: 768px) {
            height: 500px;
            width: 90%;
        }

        h2 {
            text-align: center;
            font-size: 3em;
            color: rgb(29, 29, 29);
            margin: 0;
            margin-top: 0.5em;

            @media screen and (max-width: 768px) {
                font-size: 1.4em;
            }
        }

        form {
            padding: 2em;

            display: grid;
            grid-gap: 3em;
            grid-template-columns: 1fr 1fr;

            @media screen and (max-width: 768px) {
                display: block;
            }

            div.field {

                label {
                    display: block;
                }
                
                input {
                    width: 100%;
                    height: 50px;
                }

                select {
                    width: 100%;
                    height: 50px;
                }
            }

            #calcBtn {
                grid-column: 1/3;
                width: 30%;
                border-radius: 15px;
                background-color: green;
                color: white;
                font-size: 2em;
                padding: 0 0.25em;
                border: 0;
                margin: 0 auto;    
                
                @media screen and (max-width: 768px) {
                    margin-top: 15px;
                    display: block;
                    font-size: 1.4em;
                    padding: 0.5em;
                    width: 70%;
                }
            }

            p#priceOutput {
                grid-column: 1/3;
                font-size: 2em;
                margin: 0;
                text-align: center;
                color: green;

                @media screen and (max-width: 768px) {
                    margin-top: 1em;
                    font-size: 1.1em;
                }
            }
        }
    }

    div.hero-message {
        text-align: center;
        font-size: 1.8em;
        width: 80%;
        margin: 0 auto;

        h3 {
            margin-bottom: 0;
        }

        p {
            margin-top: 5px;
        }
    }

}

// OPTIONS SECTION
section.options {
    background-color: white;
    padding: 7em;

    //GRID
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7em;

    @media screen and (max-width: 768px) {
        display: block;
        padding: 1em;
    }

    div.card {
        background-color: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        border-top: 2px solid black;
        padding: 1em;

        @media screen and (max-width: 768px) {
            margin: 1em 0;
        }

        h3 {
            margin: 0;
            color: rgb(107, 192, 221);
            font-weight: 400;
            font-size: 1.4em;
        }

        h4 {
            margin: 0;
        }

        small {
            color: grey;
        }

        p {
            margin: 0;
        }

        ul {
            list-style-type: none;
            padding-left: 0.5em;

            li {
                margin-bottom: 0.5em;

                &::before {
                    content: "\2714\0020";
                    margin-right: 5px;
                    display: inline-block;
                    color: rgb(107, 192, 221);
                }
            }
        }

    }
}

// TEAM SECTION
section.team {
    padding: 10em;

    // GRID
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;

    @media screen and (max-width: 768px) {
        padding: 3em;
        grid-template-columns: 1fr;
    }

    h1 {
        grid-column: 1/5;
        margin-top: 0;
        margin-bottom: 3em;
        font-size: 3em;

        @media screen and (max-width: 768px) {
            grid-column: unset;
            text-align: center;
            margin-bottom: 1em;
        }
    }

    small {
        color: grey;
    }

    div.member {
        text-align: center;

        div.avatar {
            width: 150px;
            height: 150px;
            background-color: #eee;
            border-radius: 150px;
            background: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
            background-size: cover;
            background-position: center;
        }

        p {
            font-style: italic;
        }
    }

    div.member:nth-of-type(2) {

        div.avatar {
            background: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
            background-size: cover;
            background-position: top;
        }
    }

    div.member:nth-of-type(3) {

        div.avatar {
            background: url("https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
            background-size: cover;
            background-position: top;
        }
    }

    div.member:nth-of-type(4) {

        div.avatar {
            background: url("https://images.unsplash.com/photo-1509460913899-515f1df34fea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
            background-size: cover;
            background-position: center;
        }
    }
}

// FOOTER
footer {
    background-color: black;
    padding: 1em;

    ul.list {
        margin: 0;
        padding: 0;

        li.list-item {
            display: inline-block;
            a, a:link, a:visited {
                color: white;
                text-decoration: none;
                padding: 0 1em;
            }
        }
    }

    img {
        display: block;
        margin: 0 0 0 auto;
    }

    p {
        margin: 0;
        color: white;
        text-align: center;
    }
}